* {
    box-sizing: border-box;
}

body {
    background-color: rgba(209, 217, 253, 0.89);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#container {
    display: flex;
    width: 100%;
    margin-left: 100px;
    margin-right: 100px;
}

#header {
    float: left;
    height: 100%;
    width: 50px;
    margin: auto;
    display: flex;
    align-items: center;
    margin: auto;
}

#nav {
    float: left;
    width: 80%;
    height: auto;
    text-align: center;
}

#button1 {
    display: flex;
    align-items: center;
}

#button1 :hover {
    color: rgba(5, 111, 233, 0.534);
    border: 2px solid rgba(5, 111, 233, 0.534);
}

#clear {
    clear: both;
}

#shades {
    display: flex;
    font-size: 18px;
    width: 100%;
    height: 100%;
    align-items: center;
}

#logo {
    margin-left: auto;
}

img {
    width: 20px;
}

a {
    text-decoration: none;
    color: rgba(7, 0, 3, 0.781);
}

#get {
    width: 100px;
    height: 25px;
    font-size: 10px;
    text-align: center;
    border-radius: 3px;
    background: none;
    border: 2px solid rgb(47, 170, 241);
    color: rgb(47, 170, 241);
    margin-right: auto;
    font-weight: 800;
    cursor: pointer;
}

#clear {
    clear: both;
}

ol>li {
    margin-left: 20px;
    margin-right: 20px;
    list-style: none;
    display: inline-block;
    text-align: center;
    justify-content: center;
    font-size: 18px;
}

ol :hover {
    color: rgb(4, 0, 12);
}

button {
    background: #e63205;
    color: white;
    border: none;
    height: 35px;
    width: 120px;
    border-radius: 3PX;
}

input {
    height: 35px;
    border: none;
    padding: 5px;
    outline: none;
    border-radius: 3PX;
    cursor: pointer;
}

input> ::placeholder:hover {
    text-decoration: none;
    border: none;
}

main {
    text-align: center;
    margin-top: 100px;
}

h1 {
    font-size: 50px;
    color: rgb(28, 32, 36);
    margin-top: 20px;
}

h2 {
    font-size: 14px;
    color: slategrey;
    letter-spacing: 5px;
    margin-top: 20px;
}

h3 {
    font-size: 14px;
    color: slategrey;
    font-weight: 500;
    margin-top: 20px;
    margin-bottom: 30PX;
}

h4 {
    font-size: 14px;
    color: slategrey;
    font-weight: 400;
    margin-top: 20px;
}

.footer {
    display: flex;
    justify-content: center;
     bottom: 0;
    margin-top: 200px;
    margin-left: auto;
    margin-right: auto;
       
}

.box {
    margin-left: auto;
    margin-right: auto;
}

.foto {
    float: left;
    margin-right: 5px;
}

.b {
    font-size: 18px;
    float: left;
    letter-spacing: 2px;
    font-weight: 800;
    color: rgb(133, 131, 167);
}

.c {
    font-size: 12px;
    font-weight: 400;
    color: rgba(3, 44, 71, 0.925);
    display: flex;
    letter-spacing: 2px;
}