* {
    box-sizing: border-box;
}

body {
    background-color: rgba(209, 217, 253, 0.89);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

#container {
    display: flex;
    margin: 0 100px;
    flex-direction: column;
    
}

#header {
    display: flex;
    align-items: center;
}

#nav {
    display:flex;
    justify-content: space-between;
    align-items: center;
}

#button1 {
    display: flex;
    align-items: center;
    outline: none;
    cursor: pointer;    
    outline: none
}

#button1 :hover {
    color: rgba(50, 115, 255, 0.534);
    border: 2px solid rgba(116, 140, 245, 0.767);
    ;
}

img {
    width: 20px;
    margin-left: auto;
}

a {
    text-decoration: none;
    color: rgba(7, 0, 3, 0.781);
}

#getcolor {  
    border-radius: 3px;
    background: none;
    border: 2px solid rgb(47, 170, 241);
    color: rgb(47, 170, 241);
    font-weight: 400;
    cursor: pointer;
    width: 120px;
    display: flex;
    text-align: center;
    justify-content: space-around;
    align-items: center;
    outline: none;
}

ol>li {
    margin-left: 20px;
    margin-right: 20px;
    list-style: none;
    display: inline-block;
    text-align: center;
    justify-content: center;
    font-size: 18px;
}

ol>li :hover {
    color: rgb(197, 51, 124);
}

#subbutton {
    background: #e63205;
    color: white;
    border: none;
    height: 35px;
    width: 120px;
    border-radius: 3PX;
    cursor: pointer;
    outline: none;
    
}

input {
    height: 35px;
    border: none;
    padding: 5px;
    outline: none;
    border-radius: 3PX;
    cursor: pointer;
}

input::placeholder:hover {
    text-decoration: none;
    border: none;
}


#inp {
    background-color: rgb(187, 205, 223);
    text-align: center;
}

#inp::placeholder {
    text-decoration: none;
    border: none;
    background-color: slategrey;
}

#inp::placeholder:hover {
    text-decoration: none;
    border: none;
    background-color: slategrey;
}


main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    text-align: center;
}

h1 {
    font-size: 50px;
    color: rgb(24, 36, 75);
    margin-top: 20px;
}

h2 {
    font-size: 14px;
    color: slategrey;
    letter-spacing: 5px;
    margin-top: 20px;
}

h3 {
    font-size: 14px;
    color: slategrey;
    font-weight: 500;
    margin-top: 20px;
    margin-bottom: 30PX;
}

h4 {
    font-size: 14px;
    color: slategrey;
    font-weight: 400;
    margin-top: 20px;
}

.footer {
    display: flex;
    justify-content:space-between;
    margin-top: 100px;  
    margin-bottom: 0;
}

.foto {
    float: left;
    margin-right: 5px;
}

.b {
    font-size: 18px;
    float: left;
    letter-spacing: 2px;
    font-weight: 800;
    color: rgb(133, 131, 167);
}

.c {
    font-size: 12px;
    font-weight: 400;
    color: rgba(3, 44, 71, 0.925);
    display: flex;
    letter-spacing: 2px;
}
#sum{
    width: 100px;
    height: 50px;
  }
iframe{
    width: 180px;
    height: 100px;
    border-radius: 5px;
    margin-top: 20px;
}  